@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

*{
  margin:0
}
a,
h5,
p {
  font-family: "Dongle", sans-serif !important;
}

a {
  text-decoration: none;
}
